{% extends 'accounts/main.html' %}
{% block content %}
{% include 'accounts/status.html' %}
<!--Ali: we copied the sceleton table code below from customer.html
We want to create a table that reveals customer's orders after we did the propoer changes in userPage view.-->
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<!-- <th>Category</th> -->
					<th>Note</th>
					<th>Date Orderd</th>
					<th>Status</th>
				</tr>

				{% for order in orders %}

				<tr>
					<td>{{order.product}}</td>
					<!-- {# <td>{{order.product.category}}</td> #}-->
					<td>{{order.note}}
					<td>{{order.date_created}}</td>
					<td>{{order.status}}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock content %}